body {
    background-color: #111;
    color: #f4f4f4;
    font-family: 'Noto Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #3c3b3b;
    font-family: 'Lato', sans-serif;
}

// .post {
//     padding: 3rem;
//     margin-bottom: 2rem;
//     background-color: #fff;
//     border: 1px solid rgba(160, 160, 160, 0.3);
// }

.post {
    margin-bottom: 3rem;
}