@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Noto+Serif:400,400i,700');

body {
    background-color: #16171f;
    color: #f4f4f4;
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
}

hr {
    border-color: #555;
}

@include media-breakpoint-up(lg) {
    .lead-lg {
        font-size: 1.25rem;
    }
}